<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eShop</title>
    <script src="js/Basket.js"></script>
    <script src="js/ltem.js"></script>
    <script src="js/form.js"></script>
    <script defer src="js/script.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <alert v-if="filteredGoods.length === 0"></alert>
    <header>
        <button class="cart-button" v-on:click="visibleBasket"> Корзина</button>
        <search-input v-on:input="search"></search-input>
    </header>
    <main>
        <div class="goods-list">
            <template v-if="filteredGoods.length > 0">
                <div class="goods-item" v-for="item in filteredGoods">
                    <div class="icon"></div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.price}}</p>
                    <div class="buttonToCart">Купить</div>
                </div>
            </template>
            <template v-else>
                Нет данных!
            </template>
        </div>
    </main>
    <basket v-if="isVisibleCart"></basket>
</div>
<div id="wrapper">
    <form id="form" class="form">
        <div class="form__header">Заполните форму обратной связи</div>
        <input id="form__input-name" class="form__input" name="name" placeholder="Имя..." type="text" required/>
        <div id="form__message-name" class="form__message"></div>
        <input id="form__input-phone" class="form__input" name="phone" placeholder="Номер телефона..." type="text"
               required/>
        <div id="form__message-phone" class="form__message"></div>
        <input id="form__input-email" class="form__input" name="emailaddress" placeholder="E-mail..." type="text"
               required/>
        <div id="form__message-email" class="form__message"></div>
        <textarea id="form__text" name="text" class="form__text" rows="20" cols="40" placeholder="Текст..."></textarea>
        <input id="form__button-clear" class="form__button form__button-clear" name="reset" type="reset" value="Сброс"/>
        <input id="form__button-submit" class="form__button" name="submit" type="submit" value="Отправить"/></form>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</body>
</html>