body {
    background: #ae9f8b;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(255, 205, 188, 0.6), rgba(225, 182, 182, 0.6) 6px);
    border: 1px solid #e18588;
    border-radius: 0 0 15px 15px;
}


header .cart-button {
    float: right;
    margin: 25px 150px 0 0;
    height: 40px;
    width: 80px;
    filter: drop-shadow(0 0 2px black);
    box-shadow: inset 0 0 5px black;
    border-radius: 5px;
    transition: 0.2s;
    background-size: contain;
    border: 0;
}

header .cart-button:hover {
    background-color: #ffb7bd;
}

header .cart-button:active {
    transform: scale(0.95);
}

main {

}

main .goods-list, #basket, #alert {
    clear: both;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 125px);
    grid-template-rows: 195px;
    width: 500px;
    background-size: 10px 2px;
    background-image: linear-gradient(1deg, rgba(255, 196, 181, 0.6), rgba(225, 130, 114, 0.6) 6px);
    border: 1px solid #e19689;
    border-radius: 15px;
    color: #ffc300;
    text-shadow: 0 0 2px black;
    text-align: center;
}

main .goods-list > div {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 0 5px black;
    transition: 0.2s;
}

main .goods-list > div:hover {
    transform: scale(1.05);
    border: 1px solid #ffe9d2;
    box-shadow: 0 0 5px #ffd2a8;
}

main .goods-list div .img, #itemsPool {
    box-shadow: inset 0 0 5px black;
    background: #c7a9a1;
    border-radius: 10px;
    width: 90px;
    height: 90px;
    margin: auto;
}

main .goods-list div h3 {
    margin: 5px;
    color: rgb(255, 255, 255);
}


main .goods-list div p {
    margin: 5px;
    color: rgb(226, 255, 0);;
    font-weight: bold;
}

main .goods-list div .button {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    box-shadow: inset 0 0 2px black;
    background: #79a0b4;
    color: #ffc300;
    margin-right: 18px;
    height: 21px;
    text-shadow: 0 0 2px black;
    border-radius: 8px;
    transition: 0.2s;
}

main .goods-list div .button:hover {
    background-color: rgba(0, 120, 211, 0.9);
}

main .goods-list div .button:active {
    transform: scale(0.95);
}

header label {
    color: #ffc300;
    text-shadow: 0 0 2px black;
    float: left;
    margin-top: 70px;
    margin-left: 20px;
}

header input {
    padding-left: 5px;
    padding-right: 5px;
    line-height: 20px;
    box-shadow: inset 0 0 2px black;
    background: #f0ffff;
    color: #ffc4b1;
    margin-right: 18px;
    height: 21px;
    text-shadow: 0 0 2px black;
    border-radius: 8px;
    transition: 0.2s;
    outline: 0;
    border: 0;
}

#basket {
    margin: 0;
    position: absolute;
    width: 200px;
    height: 200px;
    right: 150px;
    top: 70px;
    display: block;
    padding: 3px;
}

#itemsPool {
    height: 150%;
    width: 150%;
}

#alert {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 50px;
    top: 90px;
    line-height: 24px;
    color: #ff4341;
    text-shadow: 0 -1px 1px #000000, 0 -1px 1px #000000, 0 1px 1px #000000, 0 1px 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000, -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000;
}


.wrapper {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.form {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 50%;
    background: #e7eaed;
    padding: 20px;
    border: rgba(0, 0, 0, .3) 1px solid;
}

.form__text:focus, .form__input:focus {
    outline: none;
    border: #007dc7 1px solid;
}

.form__header {
    font-size: 18px;
    font-style: italic;
}

.form__message {
    font-size: 14px;
    color: #c750ac;
    font-style: italic;
}


.form__text {
    font-size: 18px;
    background: #FFFFFF;
    width: 100%;
    height: calc(100vh - 420px);
    border: rgba(0, 0, 0, .3) 1px solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    resize: none;
}


.form__input {
    font-size: 18px;
    height: 50px;
    width: 100%;
    border: rgba(0, 0, 0, .3) 1px solid;
    background: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.form__button {
    font-size: 18px;
    height: 50px;
    width: 49.33%;
    border: rgba(0, 0, 0, .3) 1px solid;
    padding: 10px;
    background: #007dc7;
    color: #FFF;
    cursor: pointer;
    margin-top: 5px;
}

.form__button-clear {
    background: #c750ac;
}


.form__button-load {
    background: #85c799;
}